@model Atut.ViewModels.ReportViewModel

@using Atut.Services

@inject EnglishReportLabelDictionary EnglishReportLabelDictionary;
@inject GermanReportLabelDictionary GermanReportLabelDictionary;

@{
    Layout = null;
    var labels = Model.Country == CountriesHelper.Germany ? (IReportLabelDictionary)GermanReportLabelDictionary : EnglishReportLabelDictionary;
}

<html>
<head>
    <style>
        body {
            font-family: Arial
        }

        h3 {
            text-align: center;
            text-decoration: underline;
            margin: 50px
        }

        table {
            border-collapse: collapse;
            margin: auto;
            width: 90%;
        }

        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }

        .right-align {
            text-align: right;
        }

        tfoot td {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h3>@labels.Title</h3>
    <table>
        <thead>
            <tr>
                <th>@labels.RegistrationNumbers</th>
                <th>@labels.FinalPlace</th>
                <th>@labels.StartDate</th>
                <th>@labels.EndDate</th>
                <th>@labels.TotalDistance</th>
                <th>@labels.CountryDistance(Model.Country)</th>
                <th>@labels.AmountOfPeople</th>
                <th>@labels.InvoicesAmount</th>
                <th>@labels.PartOfCountryInInvoicesAmount(Model.Country)</th>
                <th>@labels.InvoicesDates</th>
                <th>@labels.ExchangeRate</th>
                <th>@labels.PartOfCountryInInvoicesAmountInCurrencyAndWithTax(Model.Country, Model.CountryCurrency)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    <td>@row.RegistratioNumber</td>
                    <td>@row.FinalPlace</td>
                    <td>@row.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@row.EndDate.ToString("dd.MM.yyyy")</td>
                    <td class="right-align">@row.TotalDistance</td>
                    <td class="right-align">@row.CountryDistance</td>
                    <td class="right-align">@row.AmountOfPeople</td>
                    <td class="right-align">@row.InvoicesAmount</td>
                    <td>@row.PartOfCountryInInvoicesAmount</td>
                    <td>@string.Join(", ", row.InvoicesDates.Select(d => d.ToString("dd.MM.yyyy")))</td>
                    <td class="right-align">@Math.Round(row.ExchangeRate, 4)</td>
                    <td class="right-align">@row.PartOfCountryInInvoicesAmountInCurrency</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="right-align">Σ</td>
                <td class="right-align">@Model.SumPartOfCountryInInvoicesAmountInCurrencyAndTax</td>
            </tr>
        </tfoot>
    </table>

</body>
</html>

