@model Atut.ViewModels.ReportViewModel

@using Atut.Services
@using Microsoft.AspNetCore.Html

@inject EnglishReportLabelDictionary EnglishReportLabelDictionary;
@inject GermanReportLabelDictionary GermanReportLabelDictionary;
    
@{
    Layout = null;
}

@if (Model != null)
{
     var labels = Model.Country == CountriesHelper.Germany ? (IReportLabelDictionary)GermanReportLabelDictionary : EnglishReportLabelDictionary;
    
<html>
    <head>
        <style>
            body {
                font-family: Arial
            }

            h3 {
                text-align: center;
                text-decoration: underline;
                margin: 50px
            }

            table {
                border-collapse: collapse;
                margin: auto;
                width: 90%;
            }

            table, th, td {
                border: 1px solid black;
                padding: 8px;
            }

            .right-align {
                text-align: right;
            }

            tfoot td {
                font-weight: bold;
            }

            tr td {
                width: 1%;
                white-space: nowrap;
            }

            tfoot {
                display: table-row-group;
            }
        </style>
    </head>
    <body>
    <p style="text-align: right">Firma: @Model.Company</p>
    <p style="text-align: right">VAT: @(!string.IsNullOrWhiteSpace(Model.VatNumber) ? new HtmlString(Model.VatNumber) : Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"))</p>
    <h3>@labels.Title (@Model.DateFrom.ToString("dd.MM.yyyy") - @Model.DateTo.ToString("dd.MM.yyyy"))</h3>
    <table>
        <thead>
        <tr>
            <th rowspan="2">@labels.RegistrationNumbers</th>
            <th rowspan="2" style="min-width: 200px; white-space: normal">@labels.FinalPlace</th>
            <th rowspan="2">@labels.StartDate</th>
            <th rowspan="2">@labels.EndDate</th>
            <th rowspan="2">@labels.TotalDistance</th>
            <th rowspan="2">@labels.CountryDistance(Model.Country)</th>
            <th rowspan="2">@labels.AmountOfPeople</th>
            <th rowspan="2">@labels.InvoicesAmount</th>
            <th rowspan="2">@labels.PartOfCountryInInvoicesAmount(Model.Country)</th>
            <th rowspan="2">@labels.InvoicesDates</th>
            <th rowspan="2">@labels.ExchangeRate</th>
            <th colspan="2">@labels.PartOfCountryInInvoicesAmountInCurrencyAndWithTax(Model.Country, Model.CountryCurrency)</th>
        </tr>
        <tr>
            <th>
                BRUTTO
            </th>
            <th>
                NETTO
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                <td>@Html.Raw(string.Join(",<br/>", row.RegistratioNumbers))</td>
                <td style="min-width: 200px; white-space: normal">@row.FinalPlace</td>
                <td>@row.StartDate.ToString("dd.MM.yyyy")</td>
                <td>@row.EndDate.ToString("dd.MM.yyyy")</td>
                <td class="right-align">@row.TotalDistance</td>
                <td class="right-align">@row.CountryDistance</td>
                <td class="right-align">@row.AmountOfPeople</td>
                <td class="right-align">@Html.Raw(string.Join(",<br/>", row.InvoicesAmounts.Select(ia => $"{ia.Item1} {ia.Item2}")))</td>
                <td class="right-align">@Html.Raw(string.Join(",<br/>", row.PartsOfCountryInInvoicesAmounts.Select(ia => $"{ia.Item1} {ia.Item2}")))</td>
                <td>@Html.Raw(string.Join(",<br/>", row.InvoicesDates.Select(d => d.ToString("dd.MM.yyyy"))))</td>
                <td class="right-align">@Html.Raw(string.Join(",<br/>", row.ExchangeRates.Select(er => Math.Round(er, 4))))</td>
                <td class="right-align">@row.PartOfCountryInInvoicesAmountInCurrency</td>
                <td class="right-align">@row.NettoResult</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="11" class="right-align">Σ BRUTTO | Σ NETTO</td>
            <td class="right-align">@Model.BruttoSum</td>
            <td class="right-align">@Model.NettoSum</td>
        </tr>
        <tr>
            <td colspan="11" class="right-align">VAT (BRUTTO-NETTO)</td>
            <td colspan="2" class="right-align">@Model.VatResult</td>
        </tr>
        </tfoot>
    </table>

    <br/>
    <p style="text-align: right">@labels.DigitalPrintNote</p>

    </body>
    </html>
}
else
{
    <p>Wystąpił problem ze spójnością kursów średnich NBP.</p>
}