@using Atut.Helpers;
@using Atut.Services

@model IEnumerable<Atut.ViewModels.JourneyViewModel>
@inject RoleService RoleService;

@{
    ViewData["Title"] = "Trasy";

    var filterColumnWidthClass = RoleService.IsAdmin ? "col-sm-3 col-xs-6" : "col-sm-4 col-xs-12";
}

<div id="JourneyIndex">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            @if (RoleService.IsAdmin)
                            {
                                <div class="@filterColumnWidthClass">
                                    <div class="description-block">
                                        <p>Firma</p>
                                        <select class="form-control" v-model="filterCompany">
                                            <option value="null">-- Wybierz firmę -- </option>
                                            <option v-for="company in companies"
                                                    v-bind:value="company.key">
                                                {{ company.value }}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            }
                            <div class="@filterColumnWidthClass">
                                <div class="description-block">
                                    <p>Data wyjazdu od</p>
                                    <datepicker v-model="filterFromDate" ref="endDate" language="pl"></datepicker>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="@filterColumnWidthClass">
                                <div class="description-block">
                                    <p>Data wyjazdu do</p>
                                    <datepicker v-model="filterToDate" ref="endDate" language="pl"></datepicker>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="@filterColumnWidthClass">
                                <div class="description-block">
                                    <p>Kraj</p>
                                    <select class="form-control" v-model="filterCountry">
                                        <option value="null">-- Wybierz kraj -- </option>
                                        <option v-for="country in countries"
                                                v-bind:value="country.name">
                                            {{ country.name }}
                                        </option>
                                    </select>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>

                        <div class="box-footer">
                        </div>

                        <v-client-table :data="data" :columns="columns" :options="options">
                            <template slot="companyColumn" scope="props">
                                {{ props.row.company.value }}
                            </template>
                            <template slot="vehiclesColumn" scope="props">
                                {{ props.row.vehicles.map(v => v.value).join(", ") }}
                            </template>
                            <template slot="actions" scope="props">
                                <div>
                                    <a :href="'/Journey/Edit/'+ props.row.id" class="btn btn-primary">Edytuj</a>
                                    <a :href="'/Journey/Delete/'+ props.row.id" class="btn btn-danger">Usuń</a>
                                </div>
                            </template>
                        </v-client-table>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Buttons
{
    <a href="@Url.Action("Create")" class="btn btn-success">Dodaj</a>
}

@section Scripts {
    <script type="text/javascript">
        window.model = @Html.ToJson(Model);
        window.model.isAdmin = @RoleService.IsAdmin.ToString().ToLower();
    </script>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/journeyIndex.js"></script>
}